<!-- <div class="col"> -->
    <div class="card" style="width: 18rem">
        <img
            [src]="pokemon.imagem"
            class="card-img-top"
            [alt]="pokemon.nome"
        />

        <div class="card-body text-center">
            <h5 class="card-title mb-4">
                {{ pokemon.nome | titlecase }}
            </h5>

            <p class="card-text" *ngIf="isFullInfo">
                <strong> Altura: </strong>

                {{ pokemon.altura }}
            </p>

            <p class="card-text" *ngIf="isFullInfo">
                <strong> Peso: </strong>

                {{ pokemon.peso }}
            </p>

            <p class="card-text" *ngIf="isFullInfo">
                <strong> Habilidades: </strong>

                {{ pokemon.habilidades.join(", ") }}
            </p>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
<!-- </div> -->
